<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="CrashStorageDirectory" value="../Private/Crashs" />
    <add key="UpdatesDirectory" value="../Private/Updates" />
    <add key="TasksRepository" value="../Private/Tasks" />
    <add key="CrashReportsRecipents" value="
         Jean-Loup Kahloun *jean-loup.kahloun@invenietis.com*;
         Cedric Legendre *cedric.legendre@invenietis.com*;
         Guillaume Fradet *guillaume.fradet@invenietis.com*;
         Idriss Hippocrate *idriss.hippocrate@invenietis.com*;
         Antoine Blanchet *antoine.blanchet@invenietis.com*;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory" from="reports@civikey.fr">
        <specifiedPickupDirectory pickupDirectoryLocation="D:\Invenietis\Mailbox\CiviKey-Backend" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CK.Core" publicKeyToken="731c291b31fb8d27" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.14.0" newVersion="2.8.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
