@model CiviKey.WebApi.Crash.CrashReportModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CrashReport</title>
</head>
<body>
    <div>
        <p>Hi !</p>
        <p>Good news ! We didn't received any new crash logs since the @Model.LastReportDate.ToShortDateString().<br />
        Maybe you can write some new unit tests to make sure this situation will continue :).</p>
    </div>
</body>
</html>
